*{
    margin: 0;
    padding: 0;
}
:root{
    --colorBilletera: #DEEF75;
    --colorFondo: #333333;
    --colorGastos: #D7D9D1;
}
html{
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;;
}
#balanceTop{display: none;}

.billetera-gastos{                   
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--colorFondo);
}

.billetera{     

    width: 35%;
    height: 50%;
    border-radius: 10px 100px / 120px;
    background-color: var(--colorBilletera);
    padding-top: 1rem;
    padding-left: 2.5rem;
    
} /* codigo repetido, ahorrar */
.gastos{
    
    width: 35%;
    height: 50%;
    border-radius: 10px 100px / 120px;
    background-color: var(--colorGastos);
    padding-top: 1rem;
    padding-left: 2.5rem;
    
}

.balance{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorGastos)
}

h1{
    font-size: 2rem;
    color: var(--colorFondo);
}

i{
    font-size: 2rem;
    margin-left: 1rem;
    color: var(--colorFondo);
}
/* PROPIEDADES SOBRE LOS INPUTS EN GENERAL */

.datosUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    width: 95%;
    
}
.border{
    border: 1px solid black;
    background-color: var(--colorGastos);
    /* border-radius: 10px 100px / 120px; */
    border-radius: 80px 100px 10px / 120px;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    
    padding-top: 1.3rem;
    padding-left: 1rem;
}
input:active{
    border-color: var(--colorFondo);
    
}


/* PRIMER INPUT */
.divDinero{
    position: relative;
}
.labelDinero{
    position: absolute;
    left: 0.8rem;
    top: 0.6rem;
}
#dineroDisponible{
    width: 72%;
}

/* SEGUNDO INPUT */

.divGasto{
    position: relative;
    
}
.labelGasto{
    position: absolute;
    left: 0.8rem;
    top: 0.6rem;
}
#gasto{
    width: 90%;
}

/* TERCER INPUT */
.divMonto{
    position: relative;
}

.labelMonto{
    position: absolute;
    left: 0.8rem;
    top: 0.6rem;
}
#monto{
    width: 90%;
}

.monto-gasto{
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
    gap: 1rem;
    
}


/* media queries para tablet (ajuste vertical)*/



@media (max-height: 600px){
    .billetera{
        min-height: 200px;
    }
    .gastos{
        min-height: 100px;
    }
}
@media (min-height: 700px){
    .gastos, .billetera{
        max-height: 300px;
    }
}

/* ajuste horizontal */
@media (max-width: 725px){
    .gastos, .billetera{
        min-width: 250px;
    }
    
}
@media (min-width: 1660px){
    .gastos, .billetera{
        max-width: 621px;
    }
}

/* celular */



@media (max-width: 600px){
    .balance{
        display: none;
    }
    #balanceTop{
        height: 10vh;
        display: flex;

    }
    .billetera-gastos{
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .billetera{
        margin-top: 1rem;
    }
    .gastos{
        margin-bottom: 2rem;
    }

}




