:root{
    --colorBilletera: #DEEF75;
    --colorFondo: #333333;
    --colorGastos: #D7D9D1;
}
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.billetera-gastos{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--colorFondo);
}

.billetera{
    width: 650px;
    height: 400px;
    border-radius: 10px 100px / 120px;
     
    

    background-color: var(--colorBilletera);
    padding: 15px;
}
.gastos{
    width: 650px;
    height: 400px;
    border-radius: 10px 100px / 120px;
    background-color: var(--colorGastos);
    

    padding: 15px;
}

.balance{
    display: flex;
    justify-content: space-around;
}