*{
    margin: 0;
    padding: 0;
}
:root{
    --colorBilletera: #DEEF75;
    --colorFondo: #333333;
    --colorGastos: #D7D9D1;
}
html{
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;;
}

main{                   /* Billetera + Gastos en MAIN */
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--colorFondo);
}

.billetera{
    width: 40vw;
    height: 40vh;
    border-radius: 10px 100px / 120px;
    background-color: var(--colorBilletera);
    padding-top: 1rem;
    padding-left: 2.5rem;
}
.gastos{
    width: 40vw;
    height: 40vh;
    border-radius: 10px 100px / 120px;
    background-color: var(--colorGastos);
    padding-top: 1rem;
    padding-left: 2.5rem;
    

    
}

.balance{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 2rem;

}
i{
    font-size: 2rem;
    margin-left: 1rem;
}
/* PROPIEDADES SOBRE LOS INPUTS EN GENERAL */

.datosUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    background-color: red;
    height: 75%;
    width: 95%;
}
.border{
    border: none;
    background-color: var(--colorGastos);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    padding-top: 1.3rem;
    padding-left: 1rem;
}
input:active{
    border-color: #3f0000;
    
}

/* PRIMER INPUT */
.input1{
    padding-bottom: 2rem;
    position: relative;
    margin-bottom: 2rem;
    
}
.labelDinero{
    position: absolute;
    left: 0.8rem;
    top: 0.6rem;
}
#dineroDisponible{
    width: 72%;
}

/* SEGUNDO INPUT */

.input2{
    position: relative;
    
}
.labelGasto{
    position: absolute;
    left: 0.8rem;
    top: 0.6rem;
}

/* TERCER INPUT */
.input3{
    position: relative;
    
}
.labelMonto{
    position: absolute;
    left: 0.8rem;
    top: 0.6rem;
}
/*  */
.monto-gasto{
    display: flex;
    /* align-items: center; */
    background-color: blue;
    height: 40%;
    
    gap: 3rem;
    
}




